<h1>Patients#index</h1>
<ul>
    <% @patients.each do |patient| %>
        <li>
            <%= link_to patient.name, patient %>
        </li>
    <% end %>
</ul>
<%= link_to "Add New Patient", new_patient_path %>